 /**
  * Copyright © Magento, Inc. All rights reserved.
  * See COPYING.txt for license details.
  */

  //
  //Variables
  //_____________________________________________


 @checkout-wrapper__margin: @indent__base;
 @checkout-wrapper__columns: 16;
 @checkout-step-title__border: @border-width__base solid @color-gray80;
 @checkout-step-title__font-size: 26px;
 @checkout-step-title__font-weight: @font-weight__light;
 @checkout-step-title__padding: @indent__s;
 @checkout-step-title-mobile__font-size: 18px;
 @checkout-step-content-mobile__background: @color-gray-light01;
 @checkout-step-content-mobile__margin-s: 15px;
 @checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;



//
//  Mobile
//  _____________________________________________

 .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
     .cart-container {
         .lib-vendor-prefix-display(flex);
         .lib-vendor-prefix-flex-direction(column-reverse);

         .block {
             &.crosssell {
                 display: none;
             }
         }
     }
 }


